body
    background-color: hsl(30, 38%, 92%)
    
.card
    height: 450px
    border: solid 1px black
    border-radius: 10px
    background-color: hsl(0, 0%, 100%)
    margin: 10% 20% 10% 20%
    display: flex

.product-image
    background-image: url("../../images/image-product-desktop.jpg") 
    background-repeat: no-repeat
    background-size: cover
    background-position: center center
    height: 100%
    width: 50%
    
.product-description
    background-color: hsl(0, 0%, 100%)
    height:  90%
    width: 50%
    font-family: 'Montserrat'
    padding: 15px 15px 15px 15px
    .product-type
        font-weight: 500
        text-transform: uppercase
        letter-spacing: 7px
        opacity: 0.5
        margin-left: 10%
    .product-name
        font-family: 'Fraunces'
        font-weight: 700
        font-size: 44px
        margin: 0% 10% 10% 10%
    .flavor-text
        font-size: 18px
        opacity: 0.5
        justify-content: left
        margin: 0% 10% 10% 10%
        line-height: 20px
    .product-price
        display: flex
        justify-content: space-around
        padding: 5px 5px 5px 5px
        font-family: 'Fraunces'
        .discount-price
            text-decoration: none
            color: green
            font-size: 30px
        .original-price
            text-decoration: line-through
            opacity: 0.5
    
.cart-button
    background-color: green
    border: transparent 1px
    border-radius: 5px
    margin: 5% 20% 5% 20%
    height: 40px
    color: white
    display: flex
    justify-content: center
    align-items: center
.fa-cart-shopping
    color: white
    height: 40px
    width: 40px
    padding-top: 25px